* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1a73e8;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background:  #0f2a59 ;
    color: white;
    padding: 30px 20px;
    position: fixed;
    left: 0;
    top: 0;
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from { transform: translateX(-200px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.nav-links li {
    list-style: none;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}
.nav-links  a{
    text-decoration: none;
   color: #fff;
}

.nav-links li:hover,
.nav-links .active {
    background: rgba(255, 255, 255, 0.2);
}

/* Main Area */
.main {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
    animation: fadeIn 1.3s ease;
   
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    border-radius: 50%;
}

/* Cards */
.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
    transform: translateY(30px);
    opacity: 0;
    animation: cardUp 0.8s ease forwards;
}

.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.4s; }
.card:nth-child(4) { animation-delay: 0.6s; }

@keyframes cardUp {
    to { transform: translateY(0); opacity: 1; }
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Chart Placeholder */
.chart {
    margin-top: 40px;
    padding: 35px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}