*{
    box-sizing: border-box;

}
body{
    background:#3498DB;
    box-sizing: border-box;
    margin: 0;
    top: 0;
}
header {
    
   
   
   background-color: #fff;
    color:black;
    position: sticky;
    position: fixed;
    width: 100%;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav .logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color:black;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #b7dfff;
}

.welcome-container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p{
    font-size: 20px;
    color: #fff;
}
.welcome-container .h1 .span{
    color: #fff;
}
.welcome-container .container .mine{
    padding: 10px;
    margin: 20px;
    color: orangered;
    border-radius: 10%;
}
.welcome-container .container .min{
    padding: 10px;
    color: orangered;
    border-radius: 10%;
}
.welcome-container .container .mine:hover{
    background-color: #365;
}
.welcome-container .container .min:hover{
    background-color: #365;
}
